body{
	color: white;
	height: 750px;
	font-size: 15pt;
	}
div{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
    margin-bottom: 60px;
}

div #sitemap{
    text-align: left;
    margin: 0;
    padding: 0;
}

div #sitemap a{
    color: #ffffff;
}

